.header {
  width: 99%;
  height: 4rem;
  background-color: rgba(104, 99, 99, 0.6);
  display: flex;
  position: fixed;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header-form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
